

html{
  max-height:10vh;
}
.kontext .layer {
    position: relative;
   height: 10vh;
    top: 0;
    left: 0;
    visibility: hidden;
    /*box-shadow: 0px 0px 120px rgba( 0, 0, 0, 0.8 );*/
  }
  
  .kontext .layer.show {
    visibility: visible;
  }
  

  
  
  /* CSS animation keyframes */
 
  
  
  /* Dimmer */

  
   
  
  
  
  /* Styles for the demo */

  .bullets {
    position:absolute;
    width: 100%;
    bottom:10px;
  
    text-align: center;
   
  }
  
    .bullets li {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 0 3px;
      height: 100v;
  
      background: rgba( 255, 255, 255, 0.5 );
      box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
      cursor: pointer;
  
      -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    }
  
      .bullets li:hover {
        background: rgba( 255, 255, 255, 0.8 );
      }
  
      .bullets li.active {
        cursor: default;
        background: #fff;
      }
  
      @media screen and (min-width: 400px) {
        body {
          font-size: 12px;
        }
      
        .layer h2 {
          font-size: 5em;
        }
      
        .bullets li {
          margin: 0 6px;
        }
      
  




  body{
    background-color:#1F2833;
  
   
  

}
h1{
  font-family: "Bitter",serif;
  font-size:80px;
  position: relative;
  text-align: center;
  color: aliceblue;
  bottom:50px;

}
.image1{
  position: relative;
  bottom:78px;
  border-radius: 50%;
  left:10px;
  float: left;
}

p{
 
  font-size:25px;
  font-family:Garamond;
position: relative;
  color:#81b29a;
  line-height: 60px;
  left:30px ;
  bottom:40px;
}

  h2{
  font-family: "Bitter",serif;
  font-size:90px;
  color: aliceblue;
 text-align: center;
 position:relative;
 bottom:150px;
 right:160px;
 
 
 


}
.image2{
    position: relative;
    bottom:100px;
    border-radius: 50%;
    float: left;
    right:280px;
}
.two li{
    color: #81b29a;
    font-size: 25px;
    right:200px;
    white-space:wrap;
    position:relative;
    bottom:100px;
   line-height:55px;
   
}
.image3{
    position: relative;
    bottom:650px;
    border-radius: 50%;
    float: left;
    left:5px;


    
}

h3{

        font-family: "Bitter",serif;
        font-size:80px;
        position: relative;
        text-align: center;
        color: aliceblue;
        bottom:680px;
}
.text{
    font-size: 25px;
    font-family:Garamond;
    position: relative;
    left:20px;
    bottom:600px;
    color:#81b29a;
    line-height:60px;

}
h1,h2,h3{

    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


  @media only screen and (min-width:400px){
  {
    
 html{
      max-height: 10vh;
    background-color:#1F2833;
  
     
    }
  
   .image1{
      left:30px;
      height: 300px;
      width: 300px;
   }
p{
  position: relative;
  margin-top:10px;
  line-height:70px;
  left:1px;
  float: inline-start;
  font-size: 20px;
  font-family:Garamond;
 
}
.bullets{
  position:relative;
  top:1400px;
  right:200px;
}
h2{
  position: relative;
  bottom:1100px;
  left:0px;
}
.image2{
position: relative;
bottom:1000px;
left:30px;
width:300px;
height: 300px;
}
.lists li{
  position: relative;
  bottom:900px;
  left:0px;
 white-space:wrap;
  float: inline-start;
  line-height:60px;
  font-size:20px;
  font-family:Garamond;

 

}
h3{
  position: relative;
  bottom:2450px;
  font-size:60px;
}
.image3{
  position: relative;
bottom:2400px;
left: 30px;
width:300px;
height: 300px;
}
.three p{
 
position: relative;
left:1px;
bottom:2350px;
line-height:60px;
font-family:Garamond;
  font-size:20px;
}
  }


  
  




  
