
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  
body{
 
 background-color:black;


 height:20vh;

}

   
.box-one{
   position: relative;
     left:950px ;
     top:20px;
     
   
}
.box-two{

      position:relative;
       left:1000px ;
       top:20px;
      
    
    
 }

 .box-three{
   position:relative;
      left:1050px ;
      top:20px;
      

    
 }
 .box-four{
      position: relative;
      left:1100px;
      top:20px;
      
    
    
 }
 .content{
  position: relative;
  
  
}
@keyframes movingTopToBottom {
  0% {
    top: -15px;
  }
  95% {
    top: 150px;
  }
  100% {
    top: 165px;
  }
}

 
.content h2{
  color: #fff;
  font-size:65px;
  position: absolute;
  transform: translate(-50%, -50%);
   margin-left: 810px;
    top:90px;
    white-space:nowrap;
    font-family:Georgia;
    
}






.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #D76F30;
}

.content h2:nth-child(2) {
  color:#D76F30;
  
  color:#D76F30;

  animation: animate 4s ease-in-out infinite;
}



@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}



  
   

 
 h1{
 color:whitesmoke;
   font-size:60px;
   position:absolute;
   margin-left:150px;
  margin-top:250px ;
font-family:Gabriola;
  animation: 2s anim-lineUp ease-out infinite;
 }
 @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  /* ...and then apply it: */
  h1 {
    animation: slide-in 1000ms;
  }



   
 
    img{
    position: relative;
    left:900px;
  top:190px;
border-radius:50%;
 
   
 }
 
.text2{
 
  background-color:#D76F30;
  position: relative;
  width:100%;
   top:280px;
  height:250px;
  font-family:'Times New Roman', Times, serif ;
 }
 p{

text-align: center;
 color: white; 
 position: relative;
font-size: 20px;
top:70px;
font-family:Optima;
line-height: 50px;
text-align: center;

 }
@media only screen and (max-width:480px){
 
  .content {
     position: relative;
     top:30px;
     white-space:wrap;
    right:605px;
   
   }
   img{
    position: relative;
     left:60px;
     width: 280px;
     height: 280px;
     top:-250px;
   }
   h1{
     position:relative;
     top:270px;
    font-size:40px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    left:50px;
   }
   @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  span {
    display:inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    position:relative;
    left:5px;
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
   
    
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
     position:relative;
    left:2px;
  }
  
  
  
  
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
    
  
   .content h2{
     font-size: 31px;
   
   }
  .boxx{
    position: relative;
    top:30px;
    right:1000px;
   }
  
  .boxx .box-one{
    position:relative;
    margin-left:10px;
  }

   
   
  
  
  
   .text2{
     position:relative;
     top:28px;
     height:340px;
     white-space:wrap;
     width:410px;
     
   }
   p{
     position:relative;
    font-size:18px;
     font-family:Optima;
     left:0px;
   }
     .text2  p{
     word-wrap:break-word;
     }
  
    
     
   
  
   
  }
  

   




